@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">UBB Sport Equipment Rental System</h1>
    <p>Witamy na naszej wypożyczalni rowerów. W naszej ofercie znajdują się również inne pojazdy takie jak hulajnogi, trójkołowce, deskorolki etc...</p>
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/images/bike.jpg" class="img-fluid" alt="Rower">
    </div>
    <div class="col-md-3">
        <img src="~/images/scooter.jpg" class="img-fluid" alt="Hulajnoga" width="225" height="225">
    </div>
    <div class="col-md-3">
        <img src="~/images/skateboard.jpg" class="img-fluid" alt="Deskorolka">
    </div>
    <div class="col-md-3">
        <img src="~/images/tricycle.jpg" class="img-fluid" alt="Trójkołowiec">
    </div>
</div>

<h1>Lista pojazdów</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class=" col-md-4">
            <div class="card">
                <img src="@item.ImgURL" class="card-img-top" alt="@item.Model" />
                <div class="card-body">
                    <h5 class="card-title">@item.Make @item.Model (@item.EquipmentType)</h5>
                    <a href="@Url.Action("Details", "Home", new { id = item.Id })" class="btn btn-primary">Szczegóły</a>
                </div>
            </div>
        </div>
    }
</div>