@model Lab_ASP.Models.Equipment

@if (Model != null)
{
    <div class="card">
        <img src="@Model.ImgURL" class="card-img-top" alt="@Model.Make @Model.Model">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Make @Model.Model</h5>
            <p class="card-text">(@Model.EquipmentType.Name)</p>
            <a href="@Url.Action("Details", "Equipment", new { id = Model.Id })" class="btn btn-primary">Szczegóły</a>
        </div>
    </div>
}
